.container {
  display: flex;
  // height: 25vh;
  // border: 1px solid #ccc;
  // background-color: white;
  background-image: url("/assets/oak.webp");
  color: white;
  opacity: 100%;
  padding: 16px;
  border-radius: 15px;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;

}

.left-side {
  display: flex ;
  flex-direction: row;
  align-items: center;
  gap: 10px
}
.server-text {
  display: flex;
  flex-direction: column;
}

.skeleton:empty.servericon {
  width: 128px;
  height: 128px;
}
