.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main > * {
  // border: 1px solid #ccc;
  // padding: 25px;
}


.main-content {
  display: flex;
  flex-direction: column;
    gap: 10vh;
}
