<div class="container">
  <h1 style="color: white">{{ "PLAYERS" | i18next }}</h1>
  <div class="players">
    <div [routerLink]="['stats',player.playerId]" class="player" *ngFor="let player of playersStats">

      <img src="https://crafatar.com/renders/head/{{player.playerId}}" />
      <div class="player-text">
        <span [ngClass]="['indicator', player.currentState.isOnline ? 'online' : 'offline' ]"></span>
        <p>{{player.playerName}}</p>
      </div>
      <p *ngIf="player.currentState.isOnline; else offline">
        {{'BECAME_ONLINE' | i18next}} {{getTime(player.currentState.since * 1000) | relativeTime}}
      </p>
      <ng-template #offline>
        {{'ONLINE' | i18next}} {{getTime(player.currentState.since * 1000) | relativeTime}}
        ({{getTime((player.lastState?.for ?? 0) *
        1000)
        |
        readableTime}})
      </ng-template>
    </div>
  </div>
</div>
